/*
 * Globals
 */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  background: url(assets/hll.jpg) no-repeat center center;
	background-size: cover;
  color: #fff;
}

/*
 * Header
 */

.navbar-brand {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}
.navbar-nav {
  margin-left: 4rem;
}

.navbar .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
}

.navbar .link-inner {
  border-bottom: .1rem solid transparent;
}
.navbar .link-inner:hover,
.navbar .link-inner:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.navbar .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */

.cover-container {
  max-width: 42em;
}

.cover {
  padding: 0 1.5rem;
}

.cover p {
  font-weight: 500;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.cover #jumbo-btn {
	float: right;
	text-shadow: none;
	padding: .5rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
	border: 1px solid;
	border-radius: .3rem;
	border-color: #fff;
}

/*
 * Footer
 */
a,
a:focus,
a:hover {
  color: #fff;
  font-weight: bold;
}
.foot {
  color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/*
 * Contact
 */

.left::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 10%;
  transform: skew(-10deg) translateX(-50%);
  transition: ease 1s;
  background: white;
  z-index: -1;
}
 .contact {
   max-width: 35%;
 }

 .btn {
   color: white;
   border-color: #7289da;
   background-color: #7289da;
 }

 .btn:hover {
   color: white;
 }

 #nav-brand-text {
   color: #303030;
 }
